@import 'normalize.css';
@import '~bootstrap/scss/bootstrap';
@import 'inputs.scss';
@import 'variables.scss';


* {
    box-sizing: border-box;
}

html, body {
    font-family: $Raleway;
    @include media-breakpoint-up(xs) {
        font-size: 14px;
    }
    @include media-breakpoint-up(sm) {
        font-size: 14px;
    }
    @include media-breakpoint-up(md) {
        font-size: 15px;
    }
    @include media-breakpoint-up(lg) {
        font-size: 16px;
    }
    @include media-breakpoint-up(xl) {
        font-size: 17px;
    }
}

a {
    width: fit-content;
    display: block;
    margin-bottom: 0.4rem;
    padding: 0.2rem 0.4rem;
    color: $black;
    &:hover {
      color: $black;
    }
}

.header {
    padding: 10px 20px;
}

.brand {
    display: flex;

    img {
        height: 2.3rem;
        padding-right: 0.2rem;
    }

    h2 {
        text-decoration: underline;
        margin: 0;
    }
}

.categories {
    padding: 20px;
    background-color: $light_grey;
    background: linear-gradient($light_grey, $white);
}

.category {
    background-color: white;

    &__title{
        text-transform: capitalize;
        color: white;
        background-color: $dark_grey;
        width: 100%;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px 5px 0 0;
    }

    &__content {
        // height: fit-content;
        padding-bottom: 0.4rem;
        margin-bottom: 20px;
    }
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}
